<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Панель Пользователя</title>
<script defer src="public/js/dashboard.bundle.0b8e5260a9fae238224c.js"></script><link href="./public/css/dashboard.99caeb1482c0cd27f4b1.css" rel="stylesheet"></head>
<body>
<main id="dashboard">

</main>
</body>
</html>