<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.employee.Name}}</title>
    <script defer src="/public/js/user.bundle.f789a12c0b9904bcb735.js"></script>
    <link href="/public/css/user.css" rel="stylesheet">
</head>
<body>
<nav>
    <ul id="nav-bar">
        <li>
            <ul id="nav-bar-element">
                <li><a href="/" id="logo">CreativeHair</a></li>
                {{if .isAuthenticated}}
                    <li><a href="/auth"><span class="icon-user"></span></a></li>
                {{end}}
                <li><a href="#" id="collapse-btn">☰</a></li>
            </ul>
        </li>
        <li>
            <ul class="nav-collapse">
                <li><a href="/">Главная</a></li>
            </ul>
        </li>
    </ul>
</nav>
<section id="user">
    <div id="user-wrapper">
        <h1>{{.employee.Name}}</h1>
        <p>Обо мне: {{.employee.About.String}} </p>
        <div id="gallery">

        </div>
    </div>
</section>
</body>
<script>
    let toggle = false
    const btn = document.getElementById('collapse-btn')
    const collapse = document.querySelector('.nav-collapse')
    btn.addEventListener('click', ev => {
        ev.preventDefault()
        toggle = !toggle
        collapse.style.display = toggle ? 'block' : 'none'
        if (!toggle) return

        const collapseHandler = ev => {
            if (ev.target.tagName !== 'A') return
            toggle = false
            collapse.style.display = 'none'
            collapse.removeEventListener('click', collapseHandler)
        }
        collapse.addEventListener('click', collapseHandler)
    })
</script>
</html>