/*!************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/group-css-media-queries-loader/lib/index.js!./node_modules/postcss-loader/dist/cjs.js!./src/public/css/user.scss ***!
  \************************************************************************************************************************************************************************************************************************/
li{
  list-style: none;
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  background: -webkit-linear-gradient(256deg, rgb(93, 57, 111) 0%, rgb(73, 34, 59) 52%);
  background: -moz-linear-gradient(256deg, rgb(93, 57, 111) 0%, rgb(73, 34, 59) 52%);
  background: -o-linear-gradient(256deg, rgb(93, 57, 111) 0%, rgb(73, 34, 59) 52%);
  background: linear-gradient(194deg, rgb(93, 57, 111) 0%, rgb(73, 34, 59) 52%);
  -webkit-box-shadow: 0 3px 9px 1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 3px 9px 1px rgba(0, 0, 0, 0.7);
  box-shadow: 0 3px 9px 1px rgba(0, 0, 0, 0.7);
}
@media screen and (min-width: 1024px) {
  nav #nav-bar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
nav a {
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #fff;
}
nav #nav-bar-element {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
nav #nav-bar-element span.icon-user {
  font-size: 20px;
  padding: 5px 2px;
  background: rgba(76, 76, 76, 0.58);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 25px;
}
nav #nav-bar-element a {
  font-size: 16px;
  font-weight: bold;
}

nav #nav-bar-element #collapse-btn {
  padding: 10px;
}
@media screen and (min-width: 1024px) {
  nav #nav-bar-element #collapse-btn {
    display: none;
  }
}
nav .nav-collapse {
  display: none;
}
@media screen and (min-width: 1024px) {
  nav .nav-collapse {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2px 16px;
  }
}
nav .nav-collapse li {
  padding: 5px;
}
nav .nav-collapse a {
  font-size: 16px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
nav .nav-collapse a:hover {
  text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 1px #fff, 0 0 10px #2196f3, 0 0 15px #673ab7, 0 0 10px #9c27b0, 0 0 4px #e91e63, -1px 0px 11px #e91e63, 0px 0px 0px #ce5937;
}


section#user {
  text-align: center;
  margin-top: 150px;
}
.svelte-images-gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/*# sourceMappingURL=user.2d0c31ee7c12f37b7b60.css.map*/