$dashboardBackGround: rgb(93, 57, 111);
$MenuGradient: linear-gradient(194deg, rgba(93, 57, 111, 1) 0%, rgba(73, 34, 59, 1) 52%);

$dashboardSidebarBackGround: rgb(48, 28, 57);
$dashboardSidebarGradient: linear-gradient(194deg, rgba(22, 14, 38, 1) 0%, rgba(18, 3, 13, .9) 52%);
